@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f #222222;
}

/* Base styles */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
} 